In [ ]:
                    SUBRAMANIAN SHANMUGAVEL
                        ASSIGNMENT 5

In [507]:
#Import all the needed Packages
import numpy as np
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3
from pandas import Series, DataFrame

In [508]:
#Read csv Dataset
dframe1=pd.read_csv('C:/Users/subra/Desktop/Temp/ASS 5/HateCrimes_csv.csv')
dframe1.head()

,State,Agency_type,Agency_name,Ethnicity,Disability,Gender,Gender_Identity
0,Alabama,Cities,Florence,0,0,0,0
1,Alabama,Cities,Hoover,0,0,0,0
2,Alabama,Cities,Prattville,0,0,0,0
3,Alabama,Cities,Tuscaloosa,0,0,0,0
4,Alaska,Cities,Anchorage,0,0,0,0

In [509]:
#Read json Dataset
dframe2 = pd.read_json('C:/Users/subra/Desktop/Temp/ASS 5/HateCrimes_json.json')
dframe2.head()

,Agency_name,Agency_type,Population,State,quarter_1,quarter_2,quarter_3,quarter_4
0,Florence,Cities,39481,Alabama,0,1,0,1
1,Hoover,Cities,84139,Alabama,0,1,0,0
2,Prattville,Cities,35154,Alabama,1,0,1,0
3,Tuscaloosa,Cities,94126,Alabama,0,0,1,0
4,Anchorage,Cities,299455,Alaska,2,3,3,0

In [510]:
#Read sql Dataset
con = sqlite3.connect('C:/Users/subra/Desktop/Temp/ASS 5/hatecrimes.db')
cur = con.cursor()

In [511]:
df = pd.read_sql_query("SELECT * FROM crimes", con)
df

,state,agType,agName,vRace,vRel,vSexOr
0,Alabama,Cities,Florence,2,0,0
1,Alabama,Cities,Hoover,0,0,1
2,Alabama,Cities,Prattville,2,0,0
3,Alabama,Cities,Tuscaloosa,1,0,0
4,Alaska,Cities,Anchorage,8,0,0
5,Arizona,Cities,Apache Junction,1,0,0
6,Arizona,Cities,Avondale,4,0,0
7,Arizona,Cities,Eagar,0,0,0
8,Arizona,Cities,El Mirage,1,0,0
9,Arizona,Cities,Gilbert,1,0,0
10,Arizona,Cities,Glendale,2,3,1
11,Arizona,Cities,Goodyear,0,0,2
12,Arizona,Cities,Maricopa,1,0,0
13,Arizona,Cities,Mesa,1,1,0
14,Arizona,Cities,Phoenix,40,12,14
15,Arizona,Cities,Prescott,0,0,0
16,Arizona,Cities,Scottsdale,0,1,0
17,Arizona,Cities,Tempe,1,0,2
18,Arizona,Cities,Tucson,13,6,6
19,Arizona,Cities,Yuma,3,4,0
20,Arizona,Universities and Colleges,Northern Arizona University,0,0,1
21,Arizona,Universities and Colleges,University of Arizona,2,0,0
22,Arizona,Metropolitan Counties,Cochise,0,1,0
23,Arizona,Metropolitan Counties,Maricopa,1,1,0
24,Arizona,Metropolitan Counties,Pima,1,1,1
25,Arizona,Metropolitan Counties,Yuma,1,0,0
26,Arkansas,Cities,Bentonville,1,0,0
27,Arkansas,Cities,Berryville,1,0,0
28,Arkansas,Cities,Cabot,1,0,0
29,Arkansas,Cities,England,1,0,0
...,...,...,...,...,...,...
1796,West_Virginia,Cities,Moundsville,1,0,0
1797,West_Virginia,Cities,Oak Hill,14,0,0
1798,West_Virginia,Cities,Wellsburg,1,0,0
1799,West_Virginia,Metropolitan Counties,Brooke,4,0,0
1800,West_Virginia,Metropolitan Counties,Fayette,1,0,1
1801,West_Virginia,Metropolitan Counties,Hancock,2,0,0
1802,West_Virginia,Nonmetropolitan Counties,Harrison,1,1,2
1803,West_Virginia,Nonmetropolitan Counties,McDowell,1,0,0
1804,Wisconsin,Cities,Algoma,1,1,0
1805,Wisconsin,Cities,Appleton,0,0,2
1806,Wisconsin,Cities,Burlington,1,0,0
1807,Wisconsin,Cities,Fond du Lac,1,0,0
1808,Wisconsin,Cities,Green Bay,1,0,1
1809,Wisconsin,Cities,Janesville,2,0,0
1810,Wisconsin,Cities,La Crosse,0,0,2
1811,Wisconsin,Cities,Madison,3,1,3
1812,Wisconsin,Cities,Merrill,0,0,0
1813,Wisconsin,Cities,Milwaukee,5,1,3
1814,Wisconsin,Cities,Oak Creek,0,1,0
1815,Wisconsin,Cities,River Falls,2,0,0
1816,Wisconsin,Cities,Sparta,1,0,0
1817,Wisconsin,Cities,Wausau,1,0,0
1818,Wisconsin,Universities and Colleges,"University of Wisconsin, Platteville",0,1,2
1819,Wisconsin,Metropolitan Counties,Dane,1,0,0
1820,Wisconsin,Nonmetropolitan Counties,Burnett,0,0,1
1821,Wisconsin,Nonmetropolitan Counties,Grant,1,0,0
1822,Wisconsin,Nonmetropolitan Counties,Lincoln,0,0,1
1823,Wisconsin,Nonmetropolitan Counties,Manitowoc,1,0,0
1824,Wisconsin,Nonmetropolitan Counties,Oneida,1,0,0
1825,Wyoming,Cities,Gillette,0,0,0

In [512]:
#Modify column names to Merge datasets
dframe3=df.rename(index=str,columns={'state':'State','vRace':'Race','vRel':'Rel','vSexOr':'Sex','agName':'Agency_name','agType':'Agency_type'})
dframe3.head()

     State Agency_type Agency_name  Race  Rel  Sex
0  Alabama      Cities    Florence     2    0    0
1  Alabama      Cities      Hoover     0    0    1
2  Alabama      Cities  Prattville     2    0    0
3  Alabama      Cities  Tuscaloosa     1    0    0
4   Alaska      Cities   Anchorage     8    0    0

In [513]:
#Merge first two Dataframes
m1=pd.merge(dframe1,dframe2,on=['Agency_name','State','Agency_type'],how='outer')
m1

,State,Agency_type,Agency_name,Ethnicity,Disability,Gender,Gender_Identity,Population,quarter_1,quarter_2,quarter_3,quarter_4
0,Alabama,Cities,Florence,0,0,0,0,39481,0,1,0,1
1,Alabama,Cities,Hoover,0,0,0,0,84139,0,1,0,0
2,Alabama,Cities,Prattville,0,0,0,0,35154,1,0,1,0
3,Alabama,Cities,Tuscaloosa,0,0,0,0,94126,0,0,1,0
4,Alaska,Cities,Anchorage,0,0,0,0,299455,2,3,3,0
5,Arizona,Cities,Apache Junction,0,0,0,0,36626,1,0,0,0
6,Arizona,Cities,Avondale,1,0,0,0,78905,1,1,3,0
7,Arizona,Cities,Eagar,1,0,0,0,5034,0,1,0,0
8,Arizona,Cities,El Mirage,0,0,0,0,32837,0,0,1,0
9,Arizona,Cities,Gilbert,0,0,0,0,225232,1,0,0,0
10,Arizona,Cities,Glendale,1,0,0,0,234006,2,0,3,2
11,Arizona,Cities,Goodyear,0,0,0,0,71048,1,0,1,0
12,Arizona,Cities,Maricopa,0,0,0,0,44871,0,0,0,1
13,Arizona,Cities,Mesa,0,0,0,0,456155,2,0,0,0
14,Arizona,Cities,Phoenix,14,1,0,0,1502139,25,21,35,0
15,Arizona,Cities,Prescott,1,0,0,0,40752,0,0,0,1
16,Arizona,Cities,Scottsdale,1,0,0,0,225523,0,0,0,2
17,Arizona,Cities,Tempe,0,0,0,0,168501,2,0,1,0
18,Arizona,Cities,Tucson,1,0,0,0,525486,8,8,6,4
19,Arizona,Cities,Yuma,3,0,0,0,96014,3,5,0,2
20,Arizona,Universities and Colleges,Northern Arizona University,0,0,0,0,25991,0,0,0,1
21,Arizona,Universities and Colleges,University of Arizona,0,0,0,0,40223,2,0,0,0
22,Arizona,Metropolitan Counties,Cochise,0,0,0,0,0,0,0,0,1
23,Arizona,Metropolitan Counties,Maricopa,0,0,0,0,0,0,0,0,2
24,Arizona,Metropolitan Counties,Pima,0,0,0,0,0,0,0,0,3
25,Arizona,Metropolitan Counties,Yuma,1,0,0,0,0,0,1,0,1
26,Arkansas,Cities,Bentonville,0,0,0,0,39132,0,0,1,0
27,Arkansas,Cities,Berryville,0,0,0,0,5417,0,0,1,0
28,Arkansas,Cities,Cabot,0,0,0,0,24695,0,0,1,0
29,Arkansas,Cities,England,0,0,0,0,2806,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1798,West_Virginia,Cities,Moundsville,0,0,0,0,9130,0,0,0,1
1799,West_Virginia,Cities,Oak Hill,0,0,0,0,7709,0,6,8,0
1800,West_Virginia,Cities,Wellsburg,0,0,0,0,2760,0,0,1,0
1801,West_Virginia,Metropolitan Counties,Brooke,0,0,0,0,0,1,1,2,0
1802,West_Virginia,Metropolitan Counties,Fayette,0,0,0,0,0,0,0,1,1
1803,West_Virginia,Metropolitan Counties,Hancock,0,0,0,0,0,0,0,1,1
1804,West_Virginia,Nonmetropolitan Counties,Harrison,0,0,0,0,0,0,0,2,2
1805,West_Virginia,Nonmetropolitan Counties,McDowell,0,0,0,0,0,0,1,0,0
1806,Wisconsin,Cities,Algoma,0,0,0,0,3143,0,0,2,0
1807,Wisconsin,Cities,Appleton,0,0,0,0,73141,0,2,0,0
1808,Wisconsin,Cities,Burlington,0,0,0,0,10502,0,0,0,1
1809,Wisconsin,Cities,Fond du Lac,1,0,0,0,43042,0,1,0,1
1810,Wisconsin,Cities,Green Bay,0,0,0,0,105107,1,0,1,0
1811,Wisconsin,Cities,Janesville,0,0,0,0,63603,0,1,1,0
1812,Wisconsin,Cities,La Crosse,0,0,0,0,51741,0,1,1,0
1813,Wisconsin,Cities,Madison,5,0,0,0,242523,3,5,2,2
1814,Wisconsin,Cities,Merrill,1,0,0,0,9427,0,1,0,0
1815,Wisconsin,Cities,Milwaukee,0,0,0,0,600805,1,3,4,1
1816,Wisconsin,Cities,Oak Creek,1,0,0,0,35046,2,0,0,0
1817,Wisconsin,Cities,River Falls,0,0,0,0,15227,2,0,0,0
1818,Wisconsin,Cities,Sparta,0,0,0,0,9623,0,1,0,0
1819,Wisconsin,Cities,Wausau,0,0,0,0,39176,1,0,0,0
1820,Wisconsin,Universities and Colleges,"""University of Wisconsin",2,0,0,0,0,0,3,0,0
1821,Wisconsin,Metropolitan Counties,Dane,0,0,0,0,0,1,0,0,0
1822,Wisconsin,Nonmetropolitan Counties,Burnett,0,0,0,0,0,0,0,0,1
1823,Wisconsin,Nonmetropolitan Counties,Grant,0,0,0,0,0,0,1,0,0
1824,Wisconsin,Nonmetropolitan Counties,Lincoln,0,0,0,0,0,1,0,0,0
1825,Wisconsin,Nonmetropolitan Counties,Manitowoc,0,0,0,0,0,0,1,0,0
1826,Wisconsin,Nonmetropolitan Counties,Oneida,0,0,0,0,0,0,1,0,0
1827,Wyoming,Cities,Gillette,1,0,0,0,31884,0,0,1,0

In [514]:
#Merge third Dataframe, create final Dataset and clean the dataset
merged=pd.merge(m1,dframe3,on=['Agency_name','State','Agency_type'],how='outer')
merged=merged.replace(np.NaN,0)
merged

,State,Agency_type,Agency_name,Ethnicity,Disability,Gender,Gender_Identity,Population,quarter_1,quarter_2,quarter_3,quarter_4,Race,Rel,Sex
0,Alabama,Cities,Florence,0.0,0.0,0.0,0.0,39481.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0
1,Alabama,Cities,Hoover,0.0,0.0,0.0,0.0,84139.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,Alabama,Cities,Prattville,0.0,0.0,0.0,0.0,35154.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0
3,Alabama,Cities,Tuscaloosa,0.0,0.0,0.0,0.0,94126.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,Alaska,Cities,Anchorage,0.0,0.0,0.0,0.0,299455.0,2.0,3.0,3.0,0.0,8.0,0.0,0.0
5,Arizona,Cities,Apache Junction,0.0,0.0,0.0,0.0,36626.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6,Arizona,Cities,Avondale,1.0,0.0,0.0,0.0,78905.0,1.0,1.0,3.0,0.0,4.0,0.0,0.0
7,Arizona,Cities,Eagar,1.0,0.0,0.0,0.0,5034.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,Arizona,Cities,El Mirage,0.0,0.0,0.0,0.0,32837.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
9,Arizona,Cities,Gilbert,0.0,0.0,0.0,0.0,225232.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
10,Arizona,Cities,Glendale,1.0,0.0,0.0,0.0,234006.0,2.0,0.0,3.0,2.0,2.0,3.0,1.0
11,Arizona,Cities,Goodyear,0.0,0.0,0.0,0.0,71048.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0
12,Arizona,Cities,Maricopa,0.0,0.0,0.0,0.0,44871.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
13,Arizona,Cities,Mesa,0.0,0.0,0.0,0.0,456155.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0
14,Arizona,Cities,Phoenix,14.0,1.0,0.0,0.0,1502139.0,25.0,21.0,35.0,0.0,40.0,12.0,14.0
15,Arizona,Cities,Prescott,1.0,0.0,0.0,0.0,40752.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16,Arizona,Cities,Scottsdale,1.0,0.0,0.0,0.0,225523.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0
17,Arizona,Cities,Tempe,0.0,0.0,0.0,0.0,168501.0,2.0,0.0,1.0,0.0,1.0,0.0,2.0
18,Arizona,Cities,Tucson,1.0,0.0,0.0,0.0,525486.0,8.0,8.0,6.0,4.0,13.0,6.0,6.0
19,Arizona,Cities,Yuma,3.0,0.0,0.0,0.0,96014.0,3.0,5.0,0.0,2.0,3.0,4.0,0.0
20,Arizona,Universities and Colleges,Northern Arizona University,0.0,0.0,0.0,0.0,25991.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
21,Arizona,Universities and Colleges,University of Arizona,0.0,0.0,0.0,0.0,40223.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0
22,Arizona,Metropolitan Counties,Cochise,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
23,Arizona,Metropolitan Counties,Maricopa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0
24,Arizona,Metropolitan Counties,Pima,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0
25,Arizona,Metropolitan Counties,Yuma,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
26,Arkansas,Cities,Bentonville,0.0,0.0,0.0,0.0,39132.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
27,Arkansas,Cities,Berryville,0.0,0.0,0.0,0.0,5417.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
28,Arkansas,Cities,Cabot,0.0,0.0,0.0,0.0,24695.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
29,Arkansas,Cities,England,0.0,0.0,0.0,0.0,2806.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,Illinois,Universities and Colleges,"University of Illinois, Springfield",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1836,Maine,State Police Agencies,"State Police, Somerset County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1837,Massachusetts,Universities and Colleges,"Tufts University, Medford",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1838,Massachusetts,Universities and Colleges,"University of Massachusetts: Harbor Campus, Bo...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1839,Michigan,Universities and Colleges,"University of Michigan, Ann Arbor",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1840,Michigan,Other Agencies,State Police: Huron-Clinton Metropolitan Autho...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1841,Minnesota,Universities and Colleges,"University of Minnesota, Morris",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1842,Missouri,Universities and Colleges,"University of Missouri, Columbia",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1843,New_Jersey,Cities,"Franklin Township, Gloucester County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1844,New_Jersey,Cities,"Greenwich Township, Warren County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1845,New_Jersey,Cities,"Lawrence Township, Mercer County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1846,New_Jersey,Cities,"Monroe Township, Middlesex County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,1.0
1847,New_Jersey,Cities,"Washington Township, Gloucester County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1848,New_Jersey,Cities,"Washington Township, Warren County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1849,New_York,Other Agencies,"State Park, Long Island Regional",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1850,Ohio,Cities,"Bath Township, Summit County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1851,Ohio,Cities,"Jackson Township, Stark County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1852,Ohio,Cities,"Miami Township, Montgomery County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1853,Ohio,Cities,"Springfield Township, Hamilton County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1854,Ohio,Cities,"Union Township, Clermont County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1855,Ohio,Universities and Colleges,"Ohio State University, Columbus",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1856,Pennsylvania,Cities,"Richland Township, Cambria County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1857,South_Carolina,Universities and Colleges,"University of South Carolina, Upstate",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1858,Texas,Universities and Colleges,"University of Texas, Austin",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1859,Texas,Other Agencies,"Independent School District, Humble",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1860,Utah,Universities and Colleges,"Utah State University, Logan",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1861,Vermont,State Police Agencies,"State Police, St. Albans",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1862,Virginia,State Police Agencies,"State Police, Buchanan County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1863,Washington,Universities and Colleges,"Washington State University, Pullman",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1864,Wisconsin,Universities and Colleges,"University of Wisconsin, Platteville",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0

In [557]:
#Create a csv file
merged.to_csv("Final_Data.csv",index=False)

In [516]:
#Describe the Dataset
merged.describe()

,Ethnicity,Disability,Gender,Gender_Identity,Population,quarter_1,quarter_2,quarter_3,quarter_4,Race,Rel,Sex
count,1865.000000,1865.000000,1865.000000,1865.000000,1.865000e+03,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000
mean,0.359786,0.046113,0.009651,0.017158,5.915577e+04,0.669705,0.888472,0.898660,0.711528,1.539946,0.553351,0.663271
std,1.368637,0.363308,0.130668,0.305046,2.590842e+05,2.212738,3.146188,3.207911,2.920330,4.045296,3.981512,3.163171
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,5.950000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1.525200e+04,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,4.639900e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,36.000000,12.000000,4.000000,12.000000,8.396126e+06,56.000000,84.000000,81.000000,93.000000,88.000000,152.000000,99.000000

In [517]:
#Create a new column which consists total no.of.crimes
merged['No.of.Crimes']=merged['quarter_1']+merged['quarter_2']+merged['quarter_3']+merged['quarter_4']
merged

,State,Agency_type,Agency_name,Ethnicity,Disability,Gender,Gender_Identity,Population,quarter_1,quarter_2,quarter_3,quarter_4,Race,Rel,Sex,No.of.Crimes
0,Alabama,Cities,Florence,0.0,0.0,0.0,0.0,39481.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,2.0
1,Alabama,Cities,Hoover,0.0,0.0,0.0,0.0,84139.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2,Alabama,Cities,Prattville,0.0,0.0,0.0,0.0,35154.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0
3,Alabama,Cities,Tuscaloosa,0.0,0.0,0.0,0.0,94126.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,Alaska,Cities,Anchorage,0.0,0.0,0.0,0.0,299455.0,2.0,3.0,3.0,0.0,8.0,0.0,0.0,8.0
5,Arizona,Cities,Apache Junction,0.0,0.0,0.0,0.0,36626.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6,Arizona,Cities,Avondale,1.0,0.0,0.0,0.0,78905.0,1.0,1.0,3.0,0.0,4.0,0.0,0.0,5.0
7,Arizona,Cities,Eagar,1.0,0.0,0.0,0.0,5034.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
8,Arizona,Cities,El Mirage,0.0,0.0,0.0,0.0,32837.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
9,Arizona,Cities,Gilbert,0.0,0.0,0.0,0.0,225232.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10,Arizona,Cities,Glendale,1.0,0.0,0.0,0.0,234006.0,2.0,0.0,3.0,2.0,2.0,3.0,1.0,7.0
11,Arizona,Cities,Goodyear,0.0,0.0,0.0,0.0,71048.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0
12,Arizona,Cities,Maricopa,0.0,0.0,0.0,0.0,44871.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
13,Arizona,Cities,Mesa,0.0,0.0,0.0,0.0,456155.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0
14,Arizona,Cities,Phoenix,14.0,1.0,0.0,0.0,1502139.0,25.0,21.0,35.0,0.0,40.0,12.0,14.0,81.0
15,Arizona,Cities,Prescott,1.0,0.0,0.0,0.0,40752.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
16,Arizona,Cities,Scottsdale,1.0,0.0,0.0,0.0,225523.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0
17,Arizona,Cities,Tempe,0.0,0.0,0.0,0.0,168501.0,2.0,0.0,1.0,0.0,1.0,0.0,2.0,3.0
18,Arizona,Cities,Tucson,1.0,0.0,0.0,0.0,525486.0,8.0,8.0,6.0,4.0,13.0,6.0,6.0,26.0
19,Arizona,Cities,Yuma,3.0,0.0,0.0,0.0,96014.0,3.0,5.0,0.0,2.0,3.0,4.0,0.0,10.0
20,Arizona,Universities and Colleges,Northern Arizona University,0.0,0.0,0.0,0.0,25991.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
21,Arizona,Universities and Colleges,University of Arizona,0.0,0.0,0.0,0.0,40223.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0
22,Arizona,Metropolitan Counties,Cochise,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
23,Arizona,Metropolitan Counties,Maricopa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,2.0
24,Arizona,Metropolitan Counties,Pima,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0,3.0
25,Arizona,Metropolitan Counties,Yuma,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0
26,Arkansas,Cities,Bentonville,0.0,0.0,0.0,0.0,39132.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
27,Arkansas,Cities,Berryville,0.0,0.0,0.0,0.0,5417.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
28,Arkansas,Cities,Cabot,0.0,0.0,0.0,0.0,24695.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
29,Arkansas,Cities,England,0.0,0.0,0.0,0.0,2806.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,Illinois,Universities and Colleges,"University of Illinois, Springfield",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1836,Maine,State Police Agencies,"State Police, Somerset County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1837,Massachusetts,Universities and Colleges,"Tufts University, Medford",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1838,Massachusetts,Universities and Colleges,"University of Massachusetts: Harbor Campus, Bo...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1839,Michigan,Universities and Colleges,"University of Michigan, Ann Arbor",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1840,Michigan,Other Agencies,State Police: Huron-Clinton Metropolitan Autho...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1841,Minnesota,Universities and Colleges,"University of Minnesota, Morris",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1842,Missouri,Universities and Colleges,"University of Missouri, Columbia",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1843,New_Jersey,Cities,"Franklin Township, Gloucester County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1844,New_Jersey,Cities,"Greenwich Township, Warren County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1845,New_Jersey,Cities,"Lawrence Township, Mercer County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1846,New_Jersey,Cities,"Monroe Township, Middlesex County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,1.0,0.0
1847,New_Jersey,Cities,"Washington Township, Gloucester County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1848,New_Jersey,Cities,"Washington Township, Warren County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1849,New_York,Other Agencies,"State Park, Long Island Regional",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1850,Ohio,Cities,"Bath Township, Summit County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1851,Ohio,Cities,"Jackson Township, Stark County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1852,Ohio,Cities,"Miami Township, Montgomery County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1853,Ohio,Cities,"Springfield Township, Hamilton County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1854,Ohio,Cities,"Union Township, Clermont County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1855,Ohio,Universities and Colleges,"Ohio State University, Columbus",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1856,Pennsylvania,Cities,"Richland Township, Cambria County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1857,South_Carolina,Universities and Colleges,"University of South Carolina, Upstate",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1858,Texas,Universities and Colleges,"University of Texas, Austin",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1859,Texas,Other Agencies,"Independent School District, Humble",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1860,Utah,Universities and Colleges,"Utah State University, Logan",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1861,Vermont,State Police Agencies,"State Police, St. Albans",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1862,Virginia,State Police Agencies,"State Police, Buchanan County",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1863,Washington,Universities and Colleges,"Washington State University, Pullman",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1864,Wisconsin,Universities and Colleges,"University of Wisconsin, Platteville",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0

In [518]:
#Total No.of.Crimes
y=merged['No.of.Crimes'].sum()
y

5909.0

In [544]:
##Count of Annual crime for each Quarter
Crime_Sum = merged.groupby(['Agency_type']).agg({'quarter_1': 'sum','quarter_2': 'sum','quarter_3': 'sum','quarter_4': 'sum'})
Crime_Sum

                           quarter_1  quarter_2  quarter_3  quarter_4
Agency_type
Cities                        1003.0     1328.0     1329.0     1028.0
Metropolitan Counties          151.0      218.0      221.0      183.0
Nonmetropolitan Counties        23.0       33.0       46.0       36.0
Other Agencies                  10.0       14.0       16.0       12.0
State Police Agencies           19.0       22.0       20.0       10.0
Universities and Colleges       43.0       42.0       44.0       58.0

In [545]:
#Percentage of Annual crime for each Quarter
Crime_Percent = Crime_Sum.groupby(level=['Agency_type']).apply(lambda x:
                               100 * x / y)
Crime_Percent = round(Crime_Percent, 2)
Crime_Percent

                           quarter_1  quarter_2  quarter_3  quarter_4
Agency_type
Cities                         16.97      22.47      22.49      17.40
Metropolitan Counties           2.56       3.69       3.74       3.10
Nonmetropolitan Counties        0.39       0.56       0.78       0.61
Other Agencies                  0.17       0.24       0.27       0.20
State Police Agencies           0.32       0.37       0.34       0.17
Universities and Colleges       0.73       0.71       0.74       0.98

In [546]:
#Maximum number of crimes were reported by the agencies during which quarter of 2013
Q1 = merged['quarter_1'].sum()
Q2 = merged['quarter_2'].sum()
Q3 = merged['quarter_3'].sum()
Q4 = merged['quarter_4'].sum()
print ("Quarter1",Q1)
print ("Quarter2",Q2)
print ("Quarter3",Q3)
print ("Quarter4",Q4)
data={'No.of.Crime':[Q1,Q2,Q3,Q4]}
Max_No_of_Crime = pd.DataFrame(data, index = ['Quarter 1', 'Quarter 2', 'Quarter 3', 'Quarter 4']).sort_values(by='No.of.Crime',ascending=False)
Max_No_of_Crime

Quarter1 1249.0
Quarter2 1657.0
Quarter3 1676.0
Quarter4 1327.0

           No.of.Crime
Quarter 3       1676.0
Quarter 2       1657.0
Quarter 4       1327.0
Quarter 1       1249.0

In [547]:
#Agency type reported maximum number of crimes in 2013
Max_Crimes_Agency=merged['No.of.Crimes'].groupby(merged['Agency_type'])
Max_Crimes_Agency.sum()

Agency_type
Cities                       4688.0
Metropolitan Counties         773.0
Nonmetropolitan Counties      138.0
Other Agencies                 52.0
State Police Agencies          71.0
Universities and Colleges     187.0
Name: No.of.Crimes, dtype: float64

In [548]:
#States in which crimes have been committed against most ethnic groups?
Ethnicity=merged['Ethnicity'].groupby(merged['State'])
Ethnicity

In [549]:
Ethnic_Groups=pd.DataFrame(Ethnicity.sum())
Ethnic_Groups=Ethnic_Groups.sort_values(by='Ethnicity',ascending=False)
Ethnic_Groups

                Ethnicity
State
California          115.0
Tennessee            81.0
Massachusetts        43.0
Ohio                 43.0
New_Jersey           39.0
New_York             36.0
Washington           33.0
Texas                26.0
Connecticut          26.0
Arizona              24.0
Michigan             19.0
Colorado             17.0
Kentucky             15.0
North_Carolina       11.0
Minnesota            11.0
Wisconsin            10.0
North_Dakota         10.0
Indiana               9.0
Oregon                9.0
Utah                  9.0
Illinois              8.0
Florida               8.0
Virginia              8.0
Nevada                7.0
Missouri              6.0
Nebraska              6.0
Georgia               5.0
Kansas                5.0
DC                    4.0
Oklahoma              3.0
Maryland              3.0
South_Carolina        3.0
Idaho                 3.0
Arkansas              3.0
Mississippi           2.0
West_Virginia         2.0
Vermont               1.0
Montana               1.0
Wyoming               1.0
Rhode_Island          1.0
Pennsylvania          1.0
New_Mexico            1.0
New_Hampshire         1.0
Louisiana             1.0
Iowa                  1.0
South_Dakota          0.0
Alaska                0.0
Maine                 0.0
Delaware              0.0
Alabama               0.0

In [550]:
#Finding Outliers in Ethnicity
merged['Disability'].value_counts()

0.0     1801
1.0       56
2.0        4
3.0        2
4.0        1
12.0       1
Name: Disability, dtype: int64

In [551]:
#Removing Outliers
Disability_set=merged[merged["Disability"] < 2.0]
Disability_set['Disability'].value_counts()

0.0    1801
1.0      56
Name: Disability, dtype: int64

In [552]:
#Total No.of.Crimes
z=Disability_set['No.of.Crimes'].sum()
z

5627.0

In [553]:
#The count of crimes committed against disabled and non-disabled groups in each of the four quarters.
Disable_set = Disability_set.groupby(['Disability']).agg({'quarter_1': 'sum','quarter_2': 'sum','quarter_3': 'sum','quarter_4': 'sum'})
Disable_set

            quarter_1  quarter_2  quarter_3  quarter_4
Disability
0.0            1056.0     1386.0     1341.0     1069.0
1.0             157.0      214.0      228.0      176.0

In [554]:
#The percentage of crimes committed against disabled and non-disabled groups in each of the four quarters.
Disable_Percent = Disable_set.groupby(level=['Disability']).apply(lambda x:
                               100 * x / z)
Disable_Percent=round(Disable_Percent,2)
Disable_Percent

            quarter_1  quarter_2  quarter_3  quarter_4
Disability
0.0             18.77      24.63      23.83      19.00
1.0              2.79       3.80       4.05       3.13